@import "reset.scss";
@import "icon.scss";
@inport url(https://fonts.googleapis.com/css?family=Ubuntu);
$font-family: 'Ubuntu', sans-serif;
$CHfont-family:Microsoft JhengHei;
$width: 100%;
.icon-menu{
	display: inline-block;
	position: fixed;
	top: 15px;
	left: 15px;
	font-size: 35px;
	color: rgb(0, 0, 0);
}
#navbar{
	
	background-color: rgb(218, 218, 218);
	z-index: 99;
	position: fixed;
	top: 0;
	left: 0;
	width: $width;
	height: 100%;
	opacity:0.7;
			ul li{
				 display: block;
				 height: 190px;
				 line-height: 190px;
				 text-align: center;
				 font-size: 30px;
				 font-family: $CHfont-family;
				 &:hover{
					 background-color: rgb(50, 50, 50);
					 transition: 0.5s;
				 }
				 a{
					 display: block;
					 text-decoration: none;
					 color: rgb(0, 0, 0);
					 &:hover{
						 color: rgb(255, 255, 255);
					 }
				 }
					 }
}

#top{
	display: block;
	width: $width;
	height: 125px;
	background-image: url(../img/561.jpg);
	padding-top: 35px;
		.logo{
			display: block;
			background-image: url(../img/logo.png);
			width: 204px;
			height: 67px;
			margin: 0 auto;
		}
}
// ////////////////////////////////loding/////////////////////////////////
#loading{
	display: none;
	z-index: 99;
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0%;
	left: 0%;
	background-color: #fff;
}
@keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@-webkit-keyframes lds-pacman-1 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  50% {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@-webkit-keyframes lds-pacman-2 {
  0% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(225deg);
    transform: rotate(225deg);
  }
  100% {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}
@keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
    transform: translate(190px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
    opacity: 1;
  }
}
@-webkit-keyframes lds-pacman-3 {
  0% {
    -webkit-transform: translate(190px, 0);
    transform: translate(190px, 0);
    opacity: 0;
  }
  20% {
    opacity: 1;
  }
  100% {
    -webkit-transform: translate(70px, 0);
    transform: translate(70px, 0);
    opacity: 1;
  }
}
.lds-pacman {
  position: fixed;
	top: 43.5%;
	left: 43.5%;
}
.lds-pacman > div:nth-child(2) div {
  position: absolute;
  top: 40px;
  left: 40px;
  width: 120px;
  height: 60px;
  border-radius: 120px 120px 0 0;
  background: #BDAD9E;
  -webkit-animation: lds-pacman-1 1s linear infinite;
  animation: lds-pacman-1 1s linear infinite;
  -webkit-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
}
.lds-pacman > div:nth-child(2) div:nth-child(2) {
  -webkit-animation: lds-pacman-2 1s linear infinite;
  animation: lds-pacman-2 1s linear infinite;
}
.lds-pacman > div:nth-child(1) div {
  position: absolute;
  top: 92px;
  left: -8px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background: #0b0803;
  -webkit-animation: lds-pacman-3 1s linear infinite;
  animation: lds-pacman-3 1s linear infinite;
}
.lds-pacman > div:nth-child(1) div:nth-child(1) {
  -webkit-animation-delay: -0.67s;
  animation-delay: -0.67s;
}
.lds-pacman > div:nth-child(1) div:nth-child(2) {
  -webkit-animation-delay: -0.33s;
  animation-delay: -0.33s;
}
.lds-pacman > div:nth-child(1) div:nth-child(3) {
  -webkit-animation-delay: 0s;
  animation-delay: 0s;
}
.lds-pacman {
  width: 200px !important;
  height: 200px !important;
  -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
}
